.generalBackground {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  height: 100%;
}

@media screen and (max-width: 768px) {
  .generalBackground {
    /*     width: 13rem;
 */ /*     height: 13rem;
 */
  }
}

@media screen and (max-width: 768px) {
  .generalBackground {
    height: auto;
    width: auto;
    padding: 3rem;
  }
}
