.generalBackground {
  display: flex;
  height: 20.25rem;
  flex-direction: column;
  border-radius: 1.5625rem;
  margin-top: 1.5rem;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  background: #0b143b;
}

@media screen and (max-width: 768px) {
  .generalBackground {
    /*     width: 13rem;
 */ /*     height: 13rem;
 */
  }
}

@media screen and (max-width: 768px) {
  .generalBackground {
    height: auto;
    width: auto;
    padding: 3rem;
  }
}
