@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.generalContainer {
  height: 20.25rem;
  flex-direction: column;
  border-radius: 30px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.subtitulo {
  color: var(--card-text);
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titulo {
  color: var(--card-text);
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .generalContainer {
    height: auto;
    width: auto;
    padding: 3rem;
  }
  .titulo {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 390px) {
  .generalContainer {
    height: auto;
    width: auto;
  }
}
