@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.generalContainer {
  height: 20.25rem;
  flex-direction: column;
  border-radius: 1.5625rem;
  margin-top: 1.5rem;
  background-color: #d04f4f;
  align-items: center;
  justify-content: center;
  display: flex;
}

.subtitulo {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -10px; /* Adjust this value to meet your needs */
}

.titulo {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: -5px; /* Adjust this value to meet your needs */
}

@media screen and (max-width: 768px) {
  .generalContainer {
    height: auto;
    width: auto;
    padding: 3rem;
  }
  .titulo {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 390px) {
  .generalContainer {
    height: auto;
    width: auto;
  }
}
