.contenedor {
  width: 42.375rem;
  height: 32.375rem;
  border-radius: 1.875rem;
  position: relative;
  overflow: hidden;
  background: #6351b9;
  margin-top: 1rem;
}

.backgroundImage {
  position: absolute;
  top: -15%;
  left: -15%;
  width: 125%;
  height: 125%;
  object-fit: cover;
}

.hoverContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: opacity 2s ease-in-out;
}

.contenedor:hover .hoverContent {
  opacity: 1;
}

.nombreDelProyecto {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3rem;
}

.textExplain {
  color: #fff;
  font-family: Montserrat;
  font-size: 1;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 3rem;
}

.stackfa {
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.stackAll {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 8rem;
  margin-top: 2rem;
  row-gap: 2rem;
}

.modalContent {
  position: relative;
  background-color: #d9d9d9;
  border-radius: 1.4rem;
  width: 75%;
  height: 75%;
  margin: auto;
  padding: 20px;
  display: flex;
}

.modalContent::before {
  content: "";
  position: absolute;
  width: 103%; /* Ajusta según tus necesidades */
  height: 107%; /* Ajusta según tus necesidades */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    29,
    28,
    28,
    0.746
  ); /* Ajusta la opacidad según tus necesidades */
  border-radius: 1.4rem;
  z-index: -1; /* Esto coloca el elemento detrás del contenido */
  justify-content: center; /* Centrar verticalmente el contenido */
}

.name {
  color: #000;
  font-family: Montserrat;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.textContainerModal {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  margin-top: 1rem;
}

.parrafo {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 1rem;
}

.link {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-decoration: underline;
}
.website {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-decoration: none;
}

.linkContainer {
  display: flex;
}
