.contenedorTitulo {
  width: calc(100dvw - 16rem);
  height: 12.75rem;
  display: flex;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  background: #930000;
  align-self: center;
  margin-left: 8rem;
  margin-right: 8rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  color: #fff;
  font-family: Montserrat;
  font-size: 4.6875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@media screen and (max-width: 1018px) {
  .titulo {
    font-size: 3rem;
  }
}

@media screen and (max-width: 818px) {
  .imagen {
    height: calc(172px - 40px);
    width: calc(233px - 40px);
  }
}
@media screen and (max-width: 768px) {
  .titulo {
    font-size: 2.5rem;
  }
  .tituloba {
    display: none;
  }
  .imagen {
    display: none;
  }
}

.imagen {
  margin-right: 1rem;
}

.tituloba {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
}

.backgroundDark {
  left: 0;
  top: 0;
  position: relative;
  background-color: #2d2d2d;
  height: auto;
}

.baclgroundLight {
  background-color: #d9d9d9;
  height: auto;
}

.NoiseBackground {
  background-image: url(../../../public/noise.gif);
  background-size: cover;
  background-position: center center;
  opacity: 0.008;
  z-index: 1000000; /* Adjust the z-index value if needed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* Add this line to make the element "click-through" */
}
