.generalContainer {
  border-radius: 30px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  background-image: url("../../../public/montaje.webp");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  transition: transform 0.2s ease-out; /* Agregamos una transición suave de 0.3 segundos con ease-out */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-video-movie-wrap {
  max-width: 100%;
  max-height: 100%;
}

.generalContainer:hover {
  transform: scale(1.02); /* Al hacer hover, aplicamos un aumento de escala al 105% */
}
.generalContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  border-radius: 30px;
}

.clickContainer {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translateX(-50%);
  z-index: 2;
}

.link {
  height: 100%;
}

.alwaysWhiteText {
  color: white !important;
}

.iconContainer {
  display: flex;
  height: 100%;
  z-index: 2;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.videoReel {
  color: #f5f5f5;
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.playbu {
  width: 30px;
  height: 30px;
}

.click {
  width: 20px;
  height: 20px;
}

.playContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}

@media screen and (max-width: 390px) {
  .generalContainer {
    /*     width: 27rem;
 */
    height:100%
  }
  .playbu {
    display: none;
  }
  .videoReel {
    font-size: 3rem;
    margin-left: 0px;
    margin-top: 1rem;
  }
}
