.generalContainer {
  width: 45rem;
  height: 20.25rem;
  border-radius: 30px;
  background-image: url("../../../public/montaje.jpeg");
  background-size: cover;
  margin-top: 1.5rem;
  position: relative;
  transition: transform 0.3s ease-out;
  margin-left: 10rem;

  /* Agregado para disponer los elementos */
  display: flex;
  justify-content: flex-end; /* Pone la imagen al lado derecho */
  align-items: flex-start; /* Pone la imagen al lado superior */
}

.generalContainer:hover {
  transform: scale(
    1.02
  ); /* Al hacer hover, aplicamos un aumento de escala al 105% */
}

.generalContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 30px;
}
