.backgroundColor {
  background-color: #0b143b;
  width: 60%;
  height: 42rem;
  border-radius: 30px;
  margin-left: 10rem;
  margin-top: 1.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.water {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: 1;
}

.water::before,
.water::after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -150%;
  left: -50%;
  border-radius: 40%;
  animation: anim 12s linear infinite;
}

.water::after {
  width: 204%;
  background-color: #ececec80;
  left: -52%;
  animation-delay: 0.5s;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 3;
}

.ContainerText {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  gap: 2rem;
  margin-top: 17rem;
}
.titulo {
  color: #fff;
  font-family: Roboto;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.parrafo {
  color: #fff;
  font-family: Roboto;
  width: 25.875rem;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imagen {
  border-bottom-right-radius: 1.875rem;
}

.imageContainer {
  height: 680px;
  overflow: hidden;
}
