@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.generalContainer {
  height: 20.25rem;
  border-radius: 30px;
  background-size: cover;
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center; /* Cambio en la alineación */
  align-items: center;
  z-index: 2;
  background-color: rgb(12, 61, 26);
  transition: transform 0.3s ease-out; /* Agregamos una transición suave de 0.3 segundos con ease-out */
}

.generalContainer:hover {
  transform: scale(1.02); /* Al hacer hover, aplicamos un aumento de escala al 105% */
}
.iconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0.2;
}

.generalContainerB {
  height: 20.25rem;
  border-radius: 30px;
  background-size: cover;
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  justify-content: flex-start; /* Cambio en la alineación */
  align-items: flex-start;
  z-index: 2;
}

.generalContainer::before {
  content: "";
  background-image: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: brightness(0.5);
  z-index: -1;
  border-radius: 30px;
}
.title {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
}

@media screen and (max-width: 390px) {
  .generalContainer {
    height: 13rem;
    /*     width: 27rem;
 */
  }
  .title {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 0.75rem;
  }
  .subtitleb {
    font-size: 0.75rem;
  }
  .textContainer {
    margin-top: 1rem;
  }
  .audiovisual {
    margin-top: 2rem;
  }
}
