@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.contenedor {
  border-radius: 1.875rem;
  position: relative;
  overflow: hidden;
  background: #6351b9;
  margin-top: 1rem;
  height: 32.365rem;
}
.backgroundImage {
  position: absolute;
  top: -15%;
  left: -15%;
  width: 125%;
  height: 125%;
  object-fit: cover;
}

.hoverContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: opacity 2s ease-in-out;
}

.contenedor:hover .hoverContent {
  opacity: 1;
}

.nombreDelProyecto {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3rem;
}

.textExplain {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 3rem;
}

.stackfa {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.stackAll {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.cardContainer {
  width: calc(100vw - 16rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 8rem;
  gap: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.modalContentLight {
  background-color: #d9d9d9;
  border-radius: 1.4rem;
  width: 90%;
  max-width: 1400px;
  height: 90%;
  max-height: 90vh;
  padding: 20px;
  display: flex;
}

.modalContentDark {
  background-color: #2d2d2d;
  border-radius: 1.4rem;
  width: 90%;
  max-width: 1400px;
  height: 90%;
  max-height: 90vh;
  padding: 20px;
  display: flex;
}
.modalContent::before {
  content: "";
  position: absolute;
  width: 103%; /* Ajusta según tus necesidades */
  height: 107%; /* Ajusta según tus necesidades */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(29, 28, 28, 0.746); /* Ajusta la opacidad según tus necesidades */
  border-radius: 1.4rem;
  z-index: -1; /* Esto coloca el elemento detrás del contenido */
  justify-content: center; /* Centrar verticalmente el contenido */
}
.name {
  font-family: Montserrat, sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.textLight {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #000;
}
.textDark {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #d9d9d9;
}

.parrafo {
  text-align: justify;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 1rem;
  width: 95%;
}

.link {
  text-align: justify;
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-decoration: underline;
}
.website {
  text-align: justify;
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-decoration: none;
}

.linkContainer {
  display: flex;
}

@media screen and (min-width: 1018px) and (max-width: 1280px) {
  .contenedor {
    height: 20rem;
  }
}

@media screen and (max-width: 1018px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
  .contenedor {
    height: 20rem;
  }
}

@media (hover: hover) {
  .contenedor:hover .hoverContent {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .hovered {
    width: 95%;
    height: 55%;
    left: 2.5%;
    transform: scale(0.9);
  }
  .close {
    display: none;
  }
}

@media (max-width: 768px) {
  .close {
    align-self: flex-end;
    font-size: 26px;
  }
  .modalContentDark,
  .modalContentLight {
    padding: 0px;
    width: 90dvw;
    height: 90dvh;
    overflow-y: scroll;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .parrafo {
    margin-right: 0;
    text-wrap: wrap;
  }
  .cardContainer {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100vw - 4rem);
  }

  .textStyles {
    font-size: 1rem;
  }
}

.modalContent {
  border: none;
  overflow: visible;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.smallScreenClass {
  height: 100%;
  width: 100%;
  transform: scale(1);
  align-self: center;
  justify-self: center;
  padding: 0px;
  margin: 0px;
}

.smallScreenClass:hover {
  transform: scale(1);
}
