@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  width: 100vw;
  transition: background-color 0.5s ease; /* Agregar transición suave de color de fondo */
}

body.light {
  background-color: #a7c6dd;
}

body.dark {
  background-color: #042741;
}
