@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: var(--font-montserrat);
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  transition: background-color 0.5s ease;
  font-family: var(--font-montserrat), Montserrat, sans-serif;
}

body.light {
  background-color: #d4d4d4;
}

body.dark {
  background-color: #252525;
}
