.contenedorPr {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contenedorPrB {
  display: flex;
  flex-direction: column;
}

.prueba {
  display: flex;
  flex-direction: column;
}

.segundoRenglon {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  align-items: flex-start;
  gap: 2rem;
}
