.effects {
  animation: slide-in 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contenedorPr {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contenedorPrB {
  display: flex;
  flex-direction: column;
}

.prueba {
  display: flex;
  flex-direction: column;
}

.segundoRenglon {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  align-items: flex-start;
  gap: 2rem;
}

.tercerRenglon {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  align-items: flex-start;
  gap: 2rem;
}

.cuartoRenglon {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  align-items: flex-start;
  gap: 2rem;
}

.quintoRenglon {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 1rem;
}
