.effects {
  animation: slide-in 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.NoiseBackground {
  background-image: url(../../public/noise.gif);
  background-size: cover;
  background-position: center center;
  opacity: 0.008;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.contenedorGrid {
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "about about about language"
    "about about about darkmode"
    "edad linkedin proyectos proyectos"
    "github  github stack english"
    "video video whatsapp email"
    "henry spotify spotify  recomendaciones ";
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

.contenedorGrid > * {
  max-width: 100%;
}

/* Ensure images are also responsive */
.contenedorGrid img {
  max-width: 100%;
  height: auto;
}
.aboutMeContainer {
  grid-area: about;
  grid-row: span 2;
}

.languageContainer {
  grid-area: language;
}

.darkModeContainer {
  grid-area: darkmode;
}

.edadContainer {
  grid-area: edad;
}

.linkedinContainer {
  grid-area: linkedin;
}

.proyectosContainer {
  grid-area: proyectos;
}

.githubContainer {
  grid-area: github;
}

.stackContainer {
  grid-area: stack;
}

.englishContainer {
  grid-area: english;
}

.videoContainer {
  grid-area: video;
}

.whatsappContainer {
  grid-area: whatsapp;
}

.emailContainer {
  grid-area: email;
}

.henryContainer {
  grid-area: henry;
}

.spotifyContainer {
  grid-area: spotify;
}

.recomendacionesContainer {
  grid-area: recomendaciones;
}

@media screen and (max-width: 768px) {
  .contenedorGrid {
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "about about about "
      "about about about "
      "language darkmode edad "
      "linkedin proyectos proyectos"
      "github  github stack"
      "english whatsapp email"
      "video video recomendaciones"
      "henry spotify spotify";
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .contenedorGrid {
    display: grid;
    grid-template-columns: 1fr; /* Se dividen en dos columnas iguales */
    grid-template-rows: repeat(
      auto-fill,
      minmax(25%, auto)
    ); /* Ajusta el tamaño de las filas */
    grid-template-areas:
      "about about"
      "about about"
      "language darkmode"
      "edad linkedin"
      "proyectos proyectos"
      "english whatsapp"
      "github github"
      "video video"
      "stack email"
      "henry recomendaciones"
      "spotify spotify";
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 1rem;
  }

  .aboutMeContainer {
    margin-bottom: -20rem;
    margin-top: -20rem;
  }

  .contenedorGrid > * {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  .effects {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }
}
/* I need to display .onlyMobile only in mobiles */

@media screen and (min-width: 768px) {
  .onlyMobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .onlyMobile {
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .secondRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
