.generalContainer {
  border-radius: 30px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  background-image: url("../../../public/background2.gif");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  transition: transform 0.3s ease-out;
  will-change: transform;
  height: 100%;

  /* Agregado para disponer los elementos */
  display: flex;
  justify-content: flex-end; /* Pone la imagen al lado derecho */
  align-items: flex-start; /* Pone la imagen al lado superior */
}

.generalContainer:hover {
  transform: scale(1.02); /* Al hacer hover, aplicamos un aumento de escala al 105% */
}

.generalContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  border-radius: 30px;
}

.imagen {
  position: relative;
  z-index: 2;
  margin-top: 1rem; /* Margen superior para la imagen */
  margin-right: 1rem; /* Margen derecho para la imagen */
}

.titulo {
  color: #f5f5f5;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.subtitulos {
  color: #f5f5f5;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
}

.textContainer {
  position: absolute; /* Cambiado para que el texto pueda colocarse en cualquier parte del contenedor */
  bottom: 1rem; /* Mover el texto hacia la parte inferior del contenedor */
  left: 1rem; /* Mover el texto hacia la parte izquierda del contenedor */
  z-index: 2;
}

@media screen and (max-width: 390px) {
  .generalContainer {
    /*  width: 27rem; */
    height: 11.7rem;
  }
}

@media screen and (max-width: 768px) {
  .generalContainer {
    height: 255px;
  }
}
