.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marqueeWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marqueeContent {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.marqueeText {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: var(--card-text);
  padding-right: 5rem;
  display: inline-block;
  letter-spacing: 0.02em;
}
