.generalContainer {
  height: 20.25rem;
  flex-direction: column;
  border-radius: 1.5625rem;
  margin-top: 1.5rem;
  background-image: url("../../../public/henry.png");

  align-items: center;
  justify-content: center;
  display: flex;
  transition: transform 0.3s ease-out;
  background-position: center center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.generalContainer:hover {
  transform: scale(1.02);
}

.titulo {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 80%;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .generalContainer {
    height: 11.7rem;
    width: auto;
  }

  .titulo {
    font-size: 1.6rem;
  }
}
