.generalContainer {
  height: 20.25rem;
  flex-direction: column;
  position: relative; /* Agregado */

  border-radius: 1.5625rem;
  margin-top: 1.5rem;
  background-color: #ad365a;
  padding: 1.5rem;
  transition: transform 0.2s ease-out; /* Agregamos una transición suave de 0.3 segundos con ease-out */
}
.generalContainer:hover {
  transform: scale(
    1.02
  ); /* Al hacer hover, aplicamos un aumento de escala al 105% */
}

.subtituloa,
.subtitulob {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.titulo {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.clickContainer {
  display: flex;
  justify-content: flex-end;
}

.textContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .generalContainer {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .generalContainer {
    height: 11.7rem;
    margin: none;
  }
  .subtituloa {
    display: none;
  }
  .subtitulob {
    margin-top: -10px;
  }
  .titulo {
    margin: none;
  }
  .textContainer {
    padding: 0rem;
    gap: -2rem;
  }
}
