.generalContainer {
  width: 285px;
  height: 20.25rem;
  border-radius: 1.5625rem;
  margin-top: 1.5rem;
  background-color: #ad365a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-out; /* Agregamos una transición suave de 0.3 segundos con ease-out */
}
.generalContainer:hover {
  transform: scale(
    1.02
  ); /* Al hacer hover, aplicamos un aumento de escala al 105% */
}

.subtitulo {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.titulo {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 0;
}
