@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.generalContainer {
  flex-direction: column;
  display: flex;
  position: relative;
  border-radius: 30px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  transition: border-color 0.3s ease;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.subtituloa,
.subtitulob {
  color: var(--card-text);
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.titulo {
  color: var(--card-text);
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.textContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .generalContainer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .generalContainer {
    margin: none;
  }
  .subtituloa {
    display: none;
  }
  .subtitulob {
  }
  .titulo {
    margin: none;
  }
  .textContainer {
    padding: 0rem;
  }
}
